In [12]:
str1 = input("enter String  :: ")

enter String  ::  bhavesh

In [3]:
num = int(input("Enter Number :: "))

Enter Number ::  10

In [13]:
print("hello","world")
print("hello",str,sep="-")
print(str1,end=",")
print(num)

hello world
hello-bhavesh
bhavesh,10

In [9]:
print(10*" 11 ")

 11  11  11  11  11  11  11  11  11  11

In [1]:
a=1

# String :: 
# is immutable , sequence of charcter ,Unicode ,Use triple quotes for multiple line string

In [16]:
s = " Hello Bhavesh! How are you "

In [25]:
print(len(s))
print(s.lower())
print(s.upper())
print(s.isalnum())
print(s.isdigit())
print(s.lstrip())
print(s.replace("Bhavesh","BHAVESH"))
print(s.strip())
print(s.find("Bh"))
print(s.count("a"))
print(s[::-1])
print(s[:5])
print(s[::2])

28
 hello bhavesh! how are you
 HELLO BHAVESH! HOW ARE YOU
False
False
Hello Bhavesh! How are you
 Hello BHAVESH! How are you
Hello Bhavesh! How are you
7
2
 uoy era woH !hsevahB olleH
 Hell
 el hvs!Hwaeyu

# List ::
# it is mutable , sequence of object ,allowed duplicate

In [22]:
lst = [1,2,3.0,45,"bahvesh","hello"]

In [26]:
lst[1]

2

In [35]:
print(len(lst))
print(lst.append("end"))
print(lst.index(3))
print(lst.extend([0,9,87]))
print(lst.remove(0))
print(lst)
print(lst.pop())
print(lst)
print(lst[::-1])
print(lst.count("end "))

18
None
2
None
None
[1, 2, 3.0, 45, 'bahvesh', 'hello', 'end', 'end', 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 9, 87]
87
[1, 2, 3.0, 45, 'bahvesh', 'hello', 'end', 'end', 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 9]
[9, 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 9, 'end', 'end', 'end', 'hello', 'bahvesh', 45, 3.0, 2, 1]
8

# Sets ::
# it is mutable , unordered sequence of object ,does not allowed duplicate

In [38]:
st_var1 = {1,23,4,4,"hello"}

In [39]:
st_var1

{1, 23, 4, 'hello'}

In [40]:
st_var2 = {1,2,3,4,"bye"}

In [41]:
st_var1.add("bye")

In [42]:
print(st_var1.difference(st_var2))
print(st_var1.intersection(st_var2))

{'hello', 23}
{1, 'bye', 4}

# Tuples ::
# it is immutable , orders sequence ,allowed duplicate

In [43]:
tp = (1,2,4,5,"hello1")

In [44]:
tp

(1, 2, 4, 5, 'hello1')

# Dictionary ::
# it is mutable , onordered collection of object , it have key-value pairs , key not duplicate value can

In [48]:
dic = {"car1":"BMW","car2":"Audi","car3":"Mar","car4":"Creta",}
dic

{'car1': 'BMW', 'car2': 'Audi', 'car3': 'Mar', 'car4': 'Creta'}

In [53]:
print(dic.keys())
print(dic.values())
print(dic.items())
print(dic["car1"])

dict_keys(['car1', 'car2', 'car3', 'car4'])
dict_values(['BMW', 'Audi', 'Mar', 'Creta'])
dict_items([('car1', 'BMW'), ('car2', 'Audi'), ('car3', 'Mar'), ('car4', 'Creta')])
BMW